<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
	xmlns:sec=http://www.thymeleaf.org/extras/spring-security
	xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
<meta charset="ISO-8859-1">
<title>Warehouse</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/css/layout.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)">Warehouse</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/data}">Uom</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/part/data}">Part</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/shipment/data}">ShipmentType</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/whuser/data}">WhUser Type</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="text" placeholder="Search">
					<button class="btn btn-primary" type="button">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="heading">
			<h2>ShipmentType</h2>
		</div>
		<form class="form-control" th:action="@{/shipment/save}"
			th:object="${shipment}" method="POST">
			<!--  <div class="row">
				<div class="col-4">
					<label>Shipment Id</label>
				</div>
				<div class="col-4">
					<input type="text" name="Ship Id" th:field="*{shipId}" disabled="disabled">
				</div>
				<div class="col-4">
				<span></span>
				</div>
			</div> -->
			<div class="row">
				<div class="col-4">
					<label>Shipment Mode</label>
				</div>
				<div class="col-4">
					<input type="text" name="ShipMode" th:field="*{shipMode}"
						pattern="[a-zA-Z]+" required>
				</div>
				<div class="col-4">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label>Shipment Code</label>
				</div>
				<div class="col-4">
					<input type="text" name="shipCode" th:field="*{shipCode}"
						pattern="[a-zA-Z]+" required>
				</div>
				<div class="col-4">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label>Shipment Enable</label>
				</div>
				<div class="col-4">
					<input type="text" name="enbShip" th:field="*{enbShip}" required>
				</div>
				<div class="col-4">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label>Shipment Grade</label>
				</div>
				<div class="col-4">
					<input type="text" name="shipGrade" th:field="*{shipGrade}"
						required>
				</div>
				<div class="col-4">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label>Shipment Description</label>
				</div>
				<div class="col-4">
					<input type="text" name="shipDesc" th:field="*{shipDesc}"
						pattern="[a-zA-Z)-9!@$%^&*()?/\]+">
				</div>
				<div class="col-4">
					<span></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>